/* * {
    outline: 1px solid red;
} */

.bg-galaxy {
    background: linear-gradient(130deg, #000066, #000033, #000033 45%, black, black 70%, #660033);
}

.w100 {
    width: 100vw;
}

.h50 {
    height: 50vh;
}

.box {
    z-index: 0;
    background: transparent;
    width: 19em;
    height: 18em;   
    border-radius: 2em; 
    border-style: solid;
    border-color: white;
    pointer-events: none;
  }

  .box-pos {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
}

.start {
    z-index: 2;
    content: "START";
    color: whitesmoke;
    position: relative;
    top: 3.5em;
    left: .5em;
    font-size: 3em;
    pointer-events: visible;
}






/* Mobile */
@media(max-width: 1125px){

.bg-galaxy {
    background: linear-gradient(130deg, #000066, #000033, #000033 35%, black, black 55%, #660033);
}

.box {
    width: 9.9em;
    height: 8.5em;
}

.start {
    top: 1em;
    left: .2em;
}


}